body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff !important;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.425),
            rgba(0, 0, 0, 0.603)
        ),
        url(./images/youssef-sarhan-tze1kKj7Lgg-unsplash.jpg) no-repeat center
            center/cover !important;
    height: 100vh;
}

/* SMS */

.outer-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.to-text,
.body-text {
    width: 500px;
    outline: none !important;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.to-text[type='tel'] {
    background: transparent;
    border: 1px solid white;
}

.to-text {
    margin-bottom: 10px;
}

.body-text {
    height: 200px;
    background: transparent;
    border: 1px solid white;
}

.label {
    display: block;
}

.send {
    margin: auto !important;
    display: block !important;
    padding-top: 20px;
}

::placeholder {
    color: #fff;
    opacity: 0.4;
}
